* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 50px;
    font-size: 16px;
}

h1{
    text-align: center;
    font-size: 3rem;
}

.display{
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 400px;
    width: 400px;
}

.display-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.square{
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.winner-display {
    text-align: center;
    margin-top: 50px;
    font-size: 2.5rem;
    width: 100%;
    height: 50px;
}

.restart-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restart{
    padding: 10px;
    font-size: 1.5rem;
}

dialog{
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;
}

dialog:not([open]){
    display: none;
}

dialog input{
    margin: 5px 0 20px 0;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 5px 10px;
}

dialog label{
    font-size: 1.2rem;
}

dialog h3{
    margin: 30px 0;
    font-size: 2rem;
}

.close-container{
    display: flex;
    justify-content: right;
}

.close-btn{
    padding: 10px;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.start-game-btn{
    font-size: 1.2rem;
    padding: 7px;
    margin-top: 20px;
    width: 60%;
    border-radius: 15px;
    
}

.start-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}