* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* --purple: #8888f3;
    --orange: #f98023;
    --green: #92a477;
    --beige: #f0f6e2; */

    --purple: #937dc0;
    --white: #f1edee;
    --brown: #5b392f;
    --orange: #c57254;
    --grey: #7d6e51;
}

body {
    margin: 0;
    padding: 50px;
    font-size: 16px;
    background-color: var(--white);
    font-family: bagel fat one;
}

h1{
    text-align: center;
    font-size: 3rem;
    color: var(--brown);
}

.display{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 400px;
    width: 400px;
}

.display-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.square{
    border: 1px solid burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.x-marker{
    color: var(--purple);
}

.o-marker{
    color: var(--orange);
}

.winner-display {
    text-align: center;
    margin-top: 35px;
    font-size: 2.5rem;
    width: 100%;
    height: 50px;
    color:  var(--grey);
}

.restart-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restart{
    padding: 10px 15px;
    font-size: 1.5rem;
    background-color: var(--brown);
    color: var(--white);
    transition: all 0.2s ease;
    border-radius: 15px;
    border: none;
    box-shadow: 0 4px 10px rgba(91, 57, 47, 0.2);
}

.restart:hover{
    background-color: #442a22;
    transition: all 0.2s ease;
}

dialog{
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;
    background-color: var(--white);
    border: 2px solid var(--brown);
    box-shadow: 0 10px 40px rgba(91, 57, 47, 0.3), 0 0 20px rgba(147, 125, 192, 0.2);
}

dialog:not([open]){
    display: none;
}

dialog input{
    margin: 5px 0 20px 0;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid var(--brown);
    transition: all 0.2s ease;
    box-shadow: 0 4px 8px rgba(91, 57, 47, 0.15);
}

dialog input:focus{
    outline: 1px solid darkolivegreen;
    outline-offset: -5px;
    transition: all 0.2s ease;
}

dialog label{
    font-size: 1.2rem;
}

#player1-label{
    color: var(--purple);
}

#player2-label{
    color: var(--orange);
}

dialog h3{
    margin: 30px 0;
    font-size: 2rem;
    color: var(--brown);
}

.close-container{
    display: flex;
    justify-content: right;
}

.close-btn{
    padding: 10px;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--grey);
    color: var(--white);
    transition: all 0.2s ease;
    border: none;
    outline: none;
    box-shadow: 0 4px 8px rgba(91, 57, 47, 0.15);
}

.close-btn:hover{
    background-color: #41392a;
    transition: all 0.2s ease;
}

.close-btn:focus{
    border: none;
    outline: none;
}

.start-game-btn{
    font-size: 1.2rem;
    padding: 10px;
    margin-top: 20px;
    width: 60%;
    border-radius: 15px;
    background-color: var(--brown);
    color: var(--white);
    border: none;
    transition: all 0.2s ease;
    box-shadow: 0 4px 10px rgba(91, 57, 47, 0.2);
}

.start-game-btn:hover{
    background-color: #442a22;
    transition: all 0.2s ease;
}

.start-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover{
    cursor: pointer;
    scale: 1.05;
}

button, input{
    font-family: bagel fat one;
}